body { 
	font-family:Helvectica,Arial,Verdana,sans-serif; 
	font-size: 11pt;
	}  
#map svg { 
	/*
	position: absolute; 
	top: 50px; 
	left: 30px; 
	*/
	border: thin solid #ddd;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 0px;
}
#legend {
	/*
	position: absolute;
	top: 50px;
	left: 620px;
	
	border: thin solid #ccc;
	border-radius: 10px;
	*/
}
#sunburst {
	/*
	position: absolute;
	top: 420px;
	left: 30px;
	*/
}
.hidden {
	/*display: none;*/
	fill-opacity: 0.1;
	stroke-opacity: 0.1;
}

.invisible {
	display: none;
}

.brushhidden {
	/*display: none;*/
	fill-opacity: 0.1;
	stroke-opacity: 0.1;
}
.genhidden {
	display: none;
}
.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
  z-index: 100;
}
circle.hidden {
  fill: #888 !important;
}
#description {
	position: absolute;
	top: 1300px;
	width: 800px;
	text-align: justify;
}

#mapinfo,#sunburstinfo {
	font-size: 16pt;
}

.activebutton {
	background-color: red;
	border-color: red;
}